body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: Arial;
}

.card {
    background: white;
    padding: 30px;
    margin: 100px auto;
    width: 300px;
    border-radius: 15px;
    text-align: center;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px;
}
#themeToggle{
    position:absolute;
    top:20px;
    right:20px;
    padding:10px 15px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:white;
    color:black;
    font-weight:bold;
}

.light-mode{
    background:linear-gradient(135deg,#f5f7fa,#c3cfe2);
}

.light-mode .container{
    background:white;
    color:black;
}

.light-mode input{
    background:#f1f1f1;
    color:black;
}